.container {
    background-color: white;
    padding: 24px 0;
    border-top: 1px solid rgba(238, 237, 237, 1);
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    font-family: HelveticaRegular,sans-serif;
    font-size: 14px;
    line-height: 16px;
    grid-gap: 10px;
    color: rgba(33, 33, 33, 1);
    word-break: break-word;
}

.container:last-child{
    border-bottom: 1px solid rgba(238, 237, 237, 1);
}