
.textarea-container > textarea {
    background-color: rgba(227, 229, 232, 1);
    color: #828385;
    border-radius: 63px;
    padding: 16px 31px 0;
    border: none;
    font-size: 14px;
    line-height: 20px;
    font-family: HelveticaRegular,sans-serif;
    resize: none;
    width: 100%;

}

.textarea-container {
    position: relative;
    padding:0 24px ;
    background-color: white;

}

.send-icon {
    position: absolute;
    top: 16px;
    max-width: 20px;
    right: 55px;
    cursor: pointer;
}
