
.messages-user-container {
    max-width: 276px;
    border-right: 1px solid rgba(238, 237, 237, 1);
    background-color: white;
    width: 100%;
    overflow: auto;
    min-height: calc(100vh - 136px);
}

.change-users {
    display: flex;
    justify-content: space-between;
    font-family: HelveticaRegular, sans-serif;
    padding: 27px 20px 25px 18px;
    color: #838383;
    font-size: 14px;
    line-height: 20px;
    border-bottom: 1px solid rgba(238, 237, 237, 1);
    align-items: center;
}

.change-users > div > span:first-child {
    margin-right: 14px;



    font-family: HelveticaBold, sans-serif;
    color: rgba(33, 33, 33, 1);
}

.change-users img {
    max-width: 14px;
    max-height: 14px;
    filter: invert(43%) sepia(34%) saturate(1641%) hue-rotate(290deg) brightness(88%) contrast(88%);
}

.user-list {
    padding: 22px 10px;
}

.user-list div:first-child {
    margin-bottom: 25px;
}

.input-styles {
    display: block;
    position: relative;
}



