add-btn {
    padding: 8px 18px;
    background-color: rgba(212, 74, 135, 1);
    border-radius: 5px;
    font-family: HelveticaBold, sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 1);
}

.patient-plan-container {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    grid-gap: 16px;

}

.title {
    font-family: HelveticaBold, sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: rgba(33, 33, 33, 1);
    padding-top: 24px;
    padding-bottom: 12px;
}

.title-input-container {
    display: grid;
    grid-gap: 7px;
}

.secondary-titles {
    font-family: HelveticaRegular, sans-serif;
    font-size: 12px;
    line-height: 13px;
    color: rgba(33, 33, 33, 0.5);
}

.title-input-container > input {
    font-family: HelveticaRegular, sans-serif;
    font-size: 12px;
    line-height: 13px;
    padding: 9px 15px;
    border: 1px solid rgba(238, 237, 237, 1);
    border-radius: 5px;
    color: rgba(33, 33, 33, 1);
}

.duration-box {
    display: flex;
    grid-gap: 8px;
    align-items: center;
}

.duration-box > input {
    padding: 9px 4px;
    border: 1px solid rgba(238, 237, 237, 1);
    border-radius: 5px;
    max-width: 38px;
    text-align: center;
    font-family: HelveticaRegular, sans-serif;
    font-size: 12px;
    line-height: 13px;
}

.create-btn {
    padding: 8px 18px;
    background-color: rgba(212, 74, 135, 1);
    border-radius: 5px;
    font-family: HelveticaBold, sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 1);
    max-width: 147px;
    margin: auto 0 0 auto;
}