
.full-view {
    display: flex;
    justify-content: space-between;
}
.full-view > div{
    padding: 15px 24px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
}
.full-view > div:first-child {
    padding-right: 0;
}
.full-view > div:last-child {
    padding-left: 0;
}
.logo {
    font-family: HelveticaRegular,sans-serif;
    font-size: 24px;
    line-height: 27px;
 }

.border {
    border-left: 1px solid rgba(238, 237, 237, 1);
    height: 100%;
}

.search-input {
    position: relative;
    margin-right: 24px;

}

.profile-picture-box {
    display: flex;
    grid-gap: 19px;
    align-items: center;
}

header input {
    padding: 11px 11px 11px 59px;
    border: none;
    border-radius: 63px;
    background-color: rgba(245, 245, 245, 1);
    max-width: 190px;
    width: 100%;
    box-shadow: 0 0 6px 0 rgba(33, 33, 33, 0.05);
    font-family: HelveticaRegular,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: rgba(33, 33, 33, 1);
}

.search-icon {
    position: absolute;
    top: 12.25px;
    left: 24px;
    max-width: 17.5px;
    filter: invert(3%) sepia(3%) saturate(619%) hue-rotate(314deg) brightness(97%) contrast(79%);
}

.profile-picture {
    max-width: 42px;
    max-height: 42px;
}

.arrow-down {
    display: flex;
    max-width: 10px;
}
.signUp-header-container {
    justify-content: space-between;
    width: 100%;
    background-color: rgba(238, 237, 237, 1);
}

.signUp-logo {
    font-family: HelveticaNeueBold,sans-serif;
    font-size: 48px;
    line-height: 58px;
    color: rgba(0, 0, 0, 1);
}

.signUp-header-container > div > span {
    margin-right: 63px;
    display: inline-block;
    font-family: HelveticaNeueBold, sans-serif;
    font-size: 18px;
    color: rgba(33, 33, 33, 1);
    line-height: 22px;

}

.signUp-header-container  Button {
    min-width: 154px;
    font-family: HelveticaNeueBold, sans-serif;
}

.mobile-view {
    display: none;
    position: relative;
    padding: 22px;
    justify-content: center;
    font-family: HelveticaRegular,sans-serif;
    font-size: 24px;
    line-height: 27px;
    color: rgba(33, 33, 33, 1);
}

.mobile-view > img {
    max-width: 18px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (max-width: 767px){
    .mobile-view {
        display: flex;
    }
    .full-view {
        display: none;
    }

}