.container {
    display: flex;
    max-height: calc(100vh - 136px);

}

.conversation-container {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    background-color: white;
}

.conversation-container  > :first-child {
    margin-top: auto !important;
}