.patients-container {
    background-color: white;
    border-radius: 6px;
    padding: 12px 24px;
    margin-top: 24px;
}

.patients-info-categories {
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    margin: 12px 0;
    font-family: HelveticaRegular, sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #838383;
    grid-gap: 10px;
    word-break: break-word;
}

.input-style {
    display: block;
    position: relative;
}

.button-container {
    display: flex;
    justify-content: end;
}

.arrow-img {
    max-width: 10px;
    max-height: 5px;
    margin-left: 9px;
}

.patients-info-categories > span:first-child {
    display: flex;
    align-items: center;


    color: rgba(33, 33, 33, 1);
    font-family: HelveticaBold, sans-serif;
}

.mobile-container {
    padding: 0 10px;
}

.mobile-container > div:last-child {
    margin-top: 20px;
}