@font-face {
  font-family: HelveticaRegular;
  src: url('./assets/Fonts/Helvetica/Helvetica-Regular.ttf');

}

@font-face {
  font-family: HelveticaBold;
  src: url('./assets/Fonts/Helvetica/Helvetica-Bold.ttf');

}

@font-face {
  font-family: RobotoRegular;
  src: url("./assets/Fonts/Roboto/Roboto-Regular.ttf");
}