
.rbc-time-view {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgb(238, 237, 237);
}

.rbc-timeslot-group {
    min-height: 70px;
}

.rbc-allday-cell {
    min-height: 20px;
}

.rbc-time-content {
    border-top: 1px solid #ddd;
}


.rbc-row > .rbc-header {
    padding: 24px 0;
    border-left: none;
    white-space: unset;
    font-family: HelveticaRegular,sans-serif;
    font-size: 18px;
    line-height: 20.7px;
    color: rgba(33, 33, 33, 1);
    font-weight: 400;
}

.rbc-time-view .rbc-row {
    background-color: rgba(255, 255, 255, 1);
    min-height: max-content;
}

.rbc-label {
    color: rgba(33, 33, 33, 0.5);
}

.rbc-month-view {
    background-color: white;
    border: 1px solid rgb(238, 237, 237);
}

.rbc-day-slot .rbc-event-label {
    white-space: pre-wrap;
}


@media screen and (max-width: 1024px) {
    .rbc-row > .rbc-header {
        font-size: 12px;
    }
    .rbc-event-label {
        font-size: 12px;
    }
}
@media screen and (max-width: 767px) {
    .rbc-row > .rbc-header {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        word-spacing: unset;
        padding: 10px 0;
        display: flex;
        align-items: center;
    }
}

