button {
    cursor: pointer;
    border: none;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

button:focus {
    outline: none;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active {
    background-color: rgba(212, 74, 135, 0.5);;
    cursor: not-allowed;
}

.button {
    color: rgba(255, 255, 255, 1);
    padding: 12px;
    border-radius: 36px;
    background-color: rgba(212, 74, 135, 1);
    cursor: pointer;
    font-family: HelveticaBold,sans-serif;
    font-size: 14px;
    line-height: 16px;
    width: 100%;

}


.button-add:hover,
.button-add:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}


