.container {
    display: grid;
    grid-template-rows: max-content;
    grid-gap: 8px;
}

.container label {
    font-family: HelveticaRegular,sans-serif;
    font-size: 12px;
    line-height: 13px;
    color: rgba(33, 33, 33, 1);
}

.container input {
    border: 1px solid rgba(238, 237, 237, 1);
    border-radius: 8px;
    padding: 13px 0 13px 14px;
    width: 100%;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}