.patient {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-gap: 8px;
}


.patient select,
.datePicker input {
    color: rgba(33, 33, 33, 1);
    padding: 13px 16px 13px 14px;
    border: 1px solid rgba(238, 237, 237, 1);
    border-radius: 8px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url("./../../assets/Images/arrowDown.png") center right 16px no-repeat;
    background-size: 10px;
    width: 100%;
    text-align: left;
}

.create-new {
    color: rgba(212, 74, 135, 1);
    font-family: HelveticaBold, sans-serif;
    font-size: 12px;
    line-height: 18px;
}

.patient .nice-dates-popover {
    max-width: 280px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

select:required:invalid {
    color: rgba(33, 33, 33, 0.5);
}

option[value=""][disabled] {
    display: none;
}


.patient .nice-dates-day:before {
    background-color: rgba(212, 74, 135, 1);
    z-index: 1;
}

.patient .nice-dates-popover:not(.-open) .nice-dates-grid {
    height: 0 !important;
}

.patient .nice-dates-day {
    font-size: 12px;
    color: rgba(33, 33, 33, 1);
    font-family: RobotoRegular, sans-serif;
}

.patient .nice-dates-day {
    height: 40px !important;
}

.patient .nice-dates-week-header {
    box-shadow: none;
}

.patient .nice-dates-week-header_day {
    font-size: 14px;
    color: rgba(33, 33, 33, 1);
    font-family: RobotoRegular, sans-serif;
}

.patient .nice-dates-navigation_current {
    color: rgba(33, 33, 33, 1);
    font-family: HelveticaBold, sans-serif;
    font-size: 14px;
    line-height: 16px;
}

.patient .nice-dates-navigation_previous:before,
.patient .nice-dates-navigation_next:before {
    width: 7px;
    height: 7px;
}
